.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  margin-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-white));
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
}

.link:hover {
  background-color: light-dark(var(--mantine-color-blue-1), var(--mantine-color-violet-6));
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-white));
}

.linkActive {
  background-color: light-dark(var(--mantine-color-blue-3), var(--mantine-color-violet-4));
}

.socialLink {
  background-color: var(--social-link-color);
  color: var(--mantine-color-white);
}

.socialLink:hover {
  background-color: var(--social-link-color);
  color: var(--mantine-color-white);
  transform: scale(1.20);
}

.main {
  padding: 70px 0 54px 0;
}