.root {
  background-color: light-dark(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.burger {
  @media (min-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.links {
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.socialLinks {
  @media (max-width: $mantine-breakpoint-sm) {
    width: auto;
    margin-left: auto
  }
}